{% load i18n wagtailimages_tags blog_tags %}
<ul class="list-unstyled">
{% for entry in entries %}
  <li class="media">
    {% if entry.header_image %}
    {% image entry.header_image fill-50x50 as header_image %}
    <img class="rounded mr-3" alt="{{ entry.header_image.title }}" src="{{ header_image.url }}">
    {% else %}
    <div class="border rounded mr-3" style="width:50px;height:50px;"></div>
    {% endif %}
    <div class="media-body">
      <h6 class="mt-0 mb-1"><a href="{% entry_url entry blog_page %}">{{ entry.title }}</a></h6>
      <p class="font-weight-light small text-muted "><i class="mel-clock" aria-hidden="true"></i> {{ entry.date|timesince }}</p> {# |date:"SHORT_DATE_FORMAT" #}
    </div>
  </li>
{% empty %}
    <li class="media"><div class="media-body">{% trans 'No entries yet' %}</div></li>
{% endfor %}
</ul>