{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags site_tags block_tags  static %}

{% block parallax %}
{% include 'includes/parallax.html' with parallax_image=self.header_image  parallax_filter=self.parallax_filter parallax_size=self.parallax_size parallax_head=self.title parallax_text=self.excerpt %}
{% endblock parallax %}

{% block sectionclass %}section-gray{% endblock sectionclass %}

{% block content %}
{% if self.body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">{{self.body}}</div>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block extra-content %}
<div class="container">
    {% if self.related_links|length > 0 %}
    <div class="row justify-content-md-center">
        <div class="col-12">
            {% for related_link in self.related_links.all %}
            <a href="{{related_link.link}}">{{related_link.title}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="card-deck justify-content-md-center">
{% for card in self.card_items.all %}
{% include "blocks/card.html" with card=card %}
{% if forloop.counter|divisibleby:"2" %}<div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>{% endif %}
{% if forloop.counter|divisibleby:"3" %}<div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>{% endif %}
{% if forloop.counter|divisibleby:"4" %}<div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>{% endif %}
{% if forloop.counter|divisibleby:"5" %}<div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>{% endif %}
{% endfor %}
    </div>
</div>
{% endblock extra-content %}

{% block scrollreveal %}
{{ block.super }}
.reveal('.content-a', {origin:'top',distance:'50px',duration:1400}){% for card in self.card_items.all %}
{% if forloop.first %}.reveal('#card-{{ forloop.counter }}', {origin:'left',distance:'50px',duration:1600})
{% elif forloop.last %}.reveal('#card-{{ forloop.counter }}', {origin:'right',distance:'50px',duration:1800})
{% else %}.reveal('#card-{{ forloop.counter }}', {origin:'top',distance:'50px',duration:1700})
{% endif %}{% endfor %}{% endblock scrollreveal %}

{% block extra_css %}
{% endblock extra_css %}