.translation-field-copy-wrapper{
    float: right;
}
.PanelTabs {
    border:1px solid #eee;
    margin-bottom: 0.8em;
}
.PanelTabs .panel-heading{
    padding: 1em 1em 0;
}
.PanelTabs .panel-heading ul {
    padding: 0;
}
.PanelTabs .panel-body{
    padding: 0 1em 1em 1em;
}
.PanelTabs .panel-body .tab-content > .tab-pane {
  display: none;
}
.PanelTabs .panel-body .tab-content > .active {
  display: block;
}

.PanelTabs > .block_field {
	width: 100%
}

.tab-content fielset {
    padding-top:40px;
}

.field-content {
	width: 100%;
}
.PanelTabs .nav-tabs > li:hover,
.PanelTabs .nav-tabs > li:focus {
    color: #777;
	background-color: #ddd;
}
.PanelTabs .nav-tabs > li.active,
.PanelTabs .nav-tabs > li.active > a,
.PanelTabs .nav-tabs > li.active > a:hover,
.PanelTabs .nav-tabs > li.active > a:focus {
    color: #FFF;
    background-color: #358c8b
}
.PanelTabs .panel-body .tab-content .tab-pane label {
  padding: 0.5em 0 0.5em 0;
}