{% load i18n widget_tweaks recaptcha2 %}
{% spaceless %}
<div class="form-group {{ field|field_type }} {{ field|widget_type }} {{ field.html_name }}{% if field.errors %} has-error has-feedback{% endif %}">
    {% if field|widget_type == 'checkboxinput' %}
        <label class="checkbox checkbox-green" for="{{ field.auto_id }}">
            <input type="checkbox" value="" id="{{ field.auto_id }}" data-toggle="checkbox" {% if field.help_text %}data-toggle="tooltip" data-placement="left" title="{{ field.help_text|safe }}"{% endif %}>
            {{ field.label }}
        </label>
    {% elif field|widget_type == 'radioselect' %}
        <label class="control-label{% if field.field.required %} {{ form.required_css_class }}{% endif %}">
            {{ field.label }}
        </label>
        {% for choice in field %}
            <label class="radio {{ choice.value }}">
                {{ choice.tag }}{{ choice.choice_label }}
            </label>
        {% endfor %}
        {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
    {% elif field|widget_type == 'dateinput' %}
        <div class="input-group" >
            <div class="input-group-prepend"><span class="input-group-text" ><i class="fa fa-calendar" aria-hidden="true"></i></span></div>
        {% render_field field class="datepicker form-control" data-toggle="tooltip" data-placement="top" title=field.help_text|safe|capfirst title=field.label|capfirst %}
        </div>
    {% elif field|widget_type == 'select' %}
        <div class="input-group" >
            <div class="input-group-prepend"><span class="input-group-text" ><i class="fa fa-list" aria-hidden="true"></i></span></div>
        {% render_field field class="selectpicker form-control show-tick" title=field.help_text|safe|capfirst title=field.label|capfirst %}
        </div>
    {% elif field|widget_type == 'textarea' %}
        <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text" ><i class="fa fa-edit" aria-hidden="true"></i></span></div>
        {% render_field field class="form-control" placeholder=field.help_text|safe|capfirst placeholder=field.label|capfirst rows="3" %}
        </div>
    {% elif field|widget_type == 'recaptchawidget' %}
        {% get_current_language as LANGUAGE_CODE %}
        {% recaptcha_init LANGUAGE_CODE %}
        {% render_field field class="form-control" %}
    {% elif field|widget_type in 'urlinputemailinputtextinput' %}
        {% if field|widget_type == 'urlinput' %}
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" ><i class="fa fa-globe" aria-hidden="true"></i></span></div>
        {% elif field|widget_type == 'emailinput' %}
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" ><i class="fa fa-mail" aria-hidden="true"></i></span></div>
        {% else %}
            <div class="input-group">
            {% if field.name|lower in "username" %}
                <div class="input-group-prepend"><span class="input-group-text" ><i class="fa fa-user" aria-hidden="true"></i></span></div>
            {% else %}
                <div class="input-group-prepend"><span class="input-group-text" ><i class="fa fa-pencil" aria-hidden="true"></i></span></div>
            {% endif %}
        {% endif %}
        {% render_field field class="form-control" placeholder=field.label|capfirst %}
        {% if field.errors %}
            <span class="fa fa-remove form-control-feedback"></span>
        {% endif %}
        </div>
    {% else %}
        {% render_field field class="form-control" placeholder=field.label|capfirst %}
        {% if field.errors %}
        <span class="fa fa-remove form-control-feedback"></span>
        {% endif %}
    {% endif %}
    {% for error in field.errors %}
        <span class="help-block label label-danger label-fill">{{ error }}</span>
    {% endfor %}
</div>
{% endspaceless %}

{% comment %}
* textinput
* emailinput
* urlinput
* textarea
numberinput
* select
* dateinput
checkboxinput
checkboxselectmultiple
radioselect
* recaptcha
{% endcomment %}
