{% load wagtailadmin_tags block_tags %}
{% timestamp as id_prefix %}

{% spaceless %}
<div class="PanelTabs" role="tablist">
    {% if help_text %}
    <div class="object-help help">{{ help_text }}</div>
    {% endif %}
    <div class="panel-heading button-group">
        <ul class="nav nav-tabs">
        {% for child in children.values %}
          <li role="presentation" class="button button-small button-secondary{% if forloop.first %} active{% endif %}" >
                  <a href="#{{ id_prefix }}-{{ child.block.label|cautious_slugify }}"
                     aria-controls="{{ id_prefix }}-{{ child.block.label|cautious_slugify }}"
                     role="tab" data-toggle="tab">{{ child.block.label }}</a>
          </li>
        {% endfor %}
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            {% for child in children.values %}
            <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}"
                 id="{{ id_prefix }}-{{ child.block.label|cautious_slugify }}">
                {{ child.render_form }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endspaceless %}



