{% load wagtailimages_tags block_tags %}

<!--<figure>
    {% image self.image fill-600x600 %}
    <figcaption>{{ self.caption }} - {{ self.attribution }}</figcaption>
</figure>-->

<div class="img-wrapper {{ self.image.alignment }}">
    {% if self.image.size %}
        {% image self.image self.image.size as theimage %}
    {% else %}
        {% image self.image original as theimage %}
    {% endif %}
    <img id="img-{{ id_prefix }}" src="{{ theimage.url }}" class="{{ self.image.shape }}"  width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" />
    {% if child.value.caption %}
        <div class="caption">
            {{ self.image.caption|myrichtext }}
        </div>
    {% endif %}
</div>