{% load wagtailcore_tags wagtailimages_tags static block_tags %}
{% if card.card_type in "card-avatar" %}
    <div class="card card-avatar text-center">
        <div class="card-img-top">
             <img class="img-fluid" src="{% static 'images/bg_squares.jpg'%}" alt="..."/>
        </div>
        <div class="card-body">
            <div class="card-title">
                <a class="card-link"href="{{ card.url_link }}">
                {% image card.image original as theimage %}
                    <img src="{{ theimage.url }}" class="avatar rounded-circle" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" />
                    {% with card.title|mysplit:"|" as parts %}
                    <h5 class="card-title">{{ parts.0 }}</h5>
                </a>
                <h6 class="card-subtitle">{{ parts.1 }}</h6>
                {% endwith %}
            </div>
            <p class="card-text">{{ card.text|safe }}</p>
        </div>
        {% if card.footer %}<div class="card-footer text-muted">{{ card.footer|safe }}</div>{% endif %}
    </div>
{% elif card.card_type in "card-background" %}
    {% image card.image original as theimage %}
    <div class="card card-background bg-dark text-white">
    <img class="card-img" src="{{ theimage.url }}" alt="Card image">
    <div class="filter"></div>
    <div class="card-img-overlay pb-1">
        {% with card.title|mysplit:"|" as parts %}
        <a class="card-link" href="{{ card.url_link }}"><h5 class="card-title">{{ parts.0 }}</h5></a>
        <h6 class="card-subtitle mb-2 text-muted">{{ parts.1 }}</h6>
        {% endwith %}
        <p class="card-text">{{ card.text|safe }}</p>
    </div>
    {% if card.footer %}<div class="card-footer text-muted d-flex justify-content-between">{{ card.footer|safe }}</div>{% endif %}
</div>
{% else %}
    <div class="card">
    <div class="card-img-top">
        <div class="filter filter h-50 justify-content-center d-flex align-items-center">
{% if card.url_link %}<a href="{{ card.url_link }}" type="button" class="btn btn-link">
                <i class="fas fa-link"></i>
            </a>{% endif %}
        </div>
        {% image card.image original as theimage %}
        <img class="img-fluid" src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}">
    </div>
    <div class="card-body">
        {% with card.title|mysplit:"|" as parts %}
        <h5 class="card-title">{{ parts.0 }}</h5>
        <h6 class="card-subtitle mt-1 mb-2 text-muted">{{ parts.1 }}</h6>
        {% endwith %}
        <p class="card-text">{{ card.text|safe }}</p>
    </div>
    {% if card.footer %}<div class="card-footer card-footer text-muted d-flex justify-content-between">{{ card.footer|safe }}</div>{% endif %}
</div>
{% endif %}
