{% load i18n wagtailcore_tags wagtailimages_tags block_tags %}
{% timestamp as id_prefix %}
{% image value.parallax_image original as parallax_image %}

<div class="parallax-image {{ value.parallax_filter }}">
    <div id="{{ id_prefix }}" class="background parallax {{ value.parallax_size }} " style="background-image:url('{{ parallax_image.url }}');" data-img-width="{{ parallax_image.width }}" data-img-height="{{ parallax_image.height }}" data-diff="100">
        <div class="content-a">
            <div class="content-b motto col-md-10 col-md-offset-1">
                {% include_block value.parallax_content %}
                {% if value.display_btndropdown%}
                    <div class="clearfix">
                        <span class="fa-stack btn-scrolldown">
                            <i class="fa fa-down-open fa-stack-1x"></i>
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
