{% extends "base.html" %}
{% load i18n static %}

{% block parallax %}
<div class="parallax parallax-small">
    <div class="background parallax-image" style="background-image:url('{% static 'images/bg_404.jpg' %}');"  data-diff="100" data-filter-color="filter filter-black">
        <div class="content-a">
            <div class="content-b px-5 content-center">
            {% block heading %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock parallax %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<div class=" m-2 pb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 order-md-12">
                <img src="{% static 'images/404.png' %}" class="img-fluid" alt="404">
            </div>
            <div class="col-md-5 order-md-1">
                <h1 class="display-3">Oops!</h1>
                <h1 class="display-5">{% trans "Page not found" %}</h1>
                <div class="error-details">
                    <br />
                      {% blocktrans %}
                      <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers
                      <b>Back</b> button to navigate to the page you have prevously come from</p>
                      <p><b>Or you could just press this neat little button:</b></p>
                      {% endblocktrans %}
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-home" aria-hidden="true"></i>  {% trans "Take Me Home" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style type="text/css">
h1, h2, h3, h4, h5, h6{
    font-family:'Coustard', sans-serif;
    font-weight:300;
}
#top-panel{
    background: rgba(225, 225, 225, 0.9);
    margin-top:20px;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20)
}
#top-panel h1{color:#2d2d2d;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);}
#top-panel p {font-size: 14px;}
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(window).on("load", function (e) {
        var lng_scroll;
        if (responsive >= 768){
            lng_scroll= '+=300px';
        } else {
            lng_scroll= '+=400px';
        }
        $('html, body').animate({scrollTop: lng_scroll}, 800);
    });
</script>
{% endblock extra_js %}