{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags  blog_tags %}

{% block title %}<!--TODO BLOG_PAGE_DESCRIPTION-->
    {{ blog_page.title_translated }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}
{% endblock title %}

{% block meta_title %}
    {% if blog_page.seo_title %}
        {{ blog_page.seo_title }}
    {% else %}
        {{ blog_page.title_translated }}
    {% endif %}
{% endblock meta_title %}

{% block extrahead %}
    {% block social_share %}{% endblock social_share %}
    <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>
    {% block css %}
    <style>body {--main-color: {{blog_page.main_color}};}</style>
    {% endblock %}
{% endblock extrahead %}


{% block wrapper %}
    {% block parallax %}
    {% include 'includes/parallax.html' with parallax_image=blog_page.header_image  parallax_filter=self.parallax_filter parallax_size=self.parallax_size parallax_head=blog_page.title parallax_text=blog_page.description %}
    {% endblock parallax %}
    <div class="main main-raised">
        <div class="container">
        <div class="row">
            <div class="col-md-9 ml-auto mr-auto">
                {% block content %}{% endblock content %}
                {% block extra_content %}{% endblock extra_content %}
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="blog_sidebar">
                    <div class="blog_widget p-2 mb-2">
                        <form name="search_form" class="search_form" method="get" action="{% routablepageurl blog_page 'entries_search' %}">
                            {% csrf_token %}
                            <div class="form-row align-items-center">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text border-bottom"><i class="fa fa-search" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control border-bottom" id="inlineFormInputGroup" name="q" placeholder="{% trans 'Search' %}">
                                </div>
                            </div>
                        </form>
                        <div class="small form-row rss-sitemap">
                            <a href="{% feeds_url blog_page %}" target="_blank" title="RSS">
                                 <i class="fa fa-rss-square"></i> <span>{% trans 'Feed RSS' %}</span>
                            </a>
                        </div>
                    </div>
                    {% if blog_page.display_last_entries %}
                        <div class="border rounded p-2 mb-2">
                            <h4>{% trans 'Last Entries' %}</h4>
                            {% recent_entries blog_page.num_last_entries %}
                        </div>
                    {% endif %}
                    {% if blog_page.display_popular_entries %}
                        <div class="border rounded p-2 mb-2">
                            <h4>{% trans 'Popular Entries' %}</h4>
                            {% popular_entries blog_page.num_popular_entries %}
                        </div>
                    {% endif %}
                    {% if blog_page.display_categories %}
                    <div class="p-2 mb-2">
                        <h4>{% trans 'Categories' %}</h4>
                        {% categories_table %}
                    </div>
                    {% endif %}
                    {% if blog_page.display_tags %}
                        <div class="border rounded p-2 mb-2 tagcloud">
                            <h4>{% trans 'Tags' %}</h4>
                            {% tags_cloud %}
                        </div>
                    {% endif %}
                    {% if blog_page.display_archive %}
                        <div class="p-2 mb-2 ">
                            <h4>{% trans 'Archive' %}</h4>
                            {% archives_list %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock wrapper %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.tagcloud.js' %}"></script>
<script type="text/javascript">
$(function () {
    $("#tagcloud").tagcloud({height:100,type:"sphere",sizemin:8,sizemax:26,power:.5});
});
</script>
{% endblock %}
{% block extra_css %}
{% endblock extra_css %}
