{% load i18n wagtailroutablepage_tags static wagtailimages_tags blog_tags social_share %}
<div class="border rounded p-1 text-muted">
    <div class="d-flex flex-row align-items-center justify-content-md-between">
        <div class="p-1">
            <a href="{% routablepageurl blog_page 'entries_by_author' entry.owner.username %}">
                <img class="border rounded-circle avatar-sm" src="{% if entry.owner.avatar %}{{ entry.owner.avatar.url }}{% else %}{% static 'images/avatar/default_avatar.png' %}{% endif %}" alt="{{ entry.owner.username|capfirst }}">
                <span>{{ entry.owner.username|capfirst }}</span>
            </a>
            | <i class="mel-clock" aria-hidden="true"></i> {{ entry.date|date:"DATE_FORMAT" }}
            {% if blog_page.display_comments %}
            | <i class="mel-chat-2" aria-hidden="true"></i><a href="{{ entry.full_url }}#disqus_thread" data-disqus-identifier="{{ entry.slug }}"> {% trans "View Comments" %}</a>
            {% endif %}
        </div>
        <div class="p-1">
            <div class="float-right">
                {% post_to_gplus self.url '<span><i class="mel-google-plus"></i></span>' %}
                {% post_to_twitter self.title self.url '<span><i class="mel-twitter"></i></span>' %}
                {% post_to_linkendin self.url '<span><i class="mel-linkedin"></i></span>' %}
                {% post_to_facebook self.url '<span><i class="mel-facebook"></i></span>' %}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row  justify-content-md-between">
        <div class=" d-inline-flex p-1 ">
            <h6 class="small mr-1">{% trans "Categories"%}</h6>{% categories_list entry.categories %}
        </div>
        <div class=" d-inline-flex p-1 ">
            <h6 class="small mr-1">{% trans "Tags"%}</h6>{% if entry.tags.count > 0 %}{% tags_list blog_page.num_tags_entry_header entry.tags %}{% endif %}
        </div>
    </div>
</div>

