{% load i18n wagtailcore_tags wagtailimages_tags block_tags blog_tags %}
<h3>{% trans 'Related Entries' %}</h3>
<ul class="list-unstyled">
{% for related_entry in entry.related %}
<li id="media-{{forloop.counter}}" class="media">
    {% if entry.header_image %}
    {% image entry.header_image fill-50x50 as header_image %}
    <img class="align-self-top rounded mr-3" alt="{{ entry.header_image.title }}" src="{{ header_image.url }}">
    {% else %}
    <div class="align-self-top border rounded mr-3" style="width:50px;height:50px;"></div>
    {% endif %}
  <div class="media-body">
    <h5 class="mt-0 mb-1"><a href="{% entry_url related_entry blog_page %}">{{ related_entry.title }}</a></h5>
    {% if related_entry.excerpt_translated %}{{ related_entry.excerpt_translated|myrichtext }}{% else %}{{ related_entry.body_translated|myrichtext|truncatewords:20 }}{% endif %}
  </div>
</li>
{% endfor %}
</ul>
