{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="d-inline-block">
<form action="{% url 'set_language' %}" method="post" id="language_selector_form">
  {% csrf_token %}
  <div class="form-group">
    <select name="language" class="form-control selectpicker" data-style="btn btn-primary btn-fill btn-block">
      {% for language in languages %}
      <option value="{{ language.code }}"
      {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
      {{ language.name_local|capfirst }}
      </option>
      {% endfor %}
    </select>
  </div>
</form>
</div>
