{% load i18n static wagtailadmin_tags %}
<fieldset>
    <legend>{{ self.heading }}</legend>
    <ul class="fields">
        <li>
            {% include "wagtailadmin/shared/field.html" with show_label=True show_help_text=False %}
        </li>
        <li id="id_menu_icon_buttons">
            <button type="button" class="button fontello button-longrunning" data-clicked-text="{% trans 'Please wait...' %}">
                <span class="icon icon-spinner"></span>
                <em>{% trans "Load from" %} LinearIcons</em>
            </button>
            <button type="button" class="button icomoon button-longrunning" data-clicked-text="{% trans 'Please wait...' %}">
                <span class="icon icon-spinner"></span>
                <em>{% trans "Load from" %} Pe 7 Pixeden</em>
            </button>
        </li>
    </ul>
</fieldset>

{% block extra_js %}
<!--suppress JSJQueryEfficiency, JSJQueryEfficiency -->
<script type="text/javascript">
var $icomoonPrefix = 'pe-7s-',
    $fontelloPrefix = 'lnr';
$(function() {
    var original_fontello = '<span class="icon icon-spinner"></span>' +  $('button.fontello').text(),
        original_icomoon = '<span class="icon icon-spinner"></span>' +  $('button.icomoon').text();

    // Init the font icon picker
    $('#id_menu_icon').closest('li.char_field').css('overflow','visible');
    var menu_icon = $('#id_menu_icon').fontIconPicker({
        theme: 'fip-grey'
    });
    // Add the event on the button
    $('button.fontello').on('click', function(e) {
        e.preventDefault();
        // Show processing message
        $(this).prop('disabled', true).addClass('button-longrunning-active');
        // Get the JSON file
        $.ajax({
			url: '{% static "fonts/fontello.json" %}',
			type: 'GET',
			dataType: 'json'
		})
		.done(function(response) {
		    $fontelloPrefix = response.css_prefix_text;
		    var fontello_json_icons = [];
            // Push the fonts into the array
            $.each(response.glyphs, function(i, v) {
                fontello_json_icons.push( $fontelloPrefix + v.css );
            });
            // Set new fonts
            menu_icon.setIcons(fontello_json_icons);
            // Show success message and disable
            $('button.fontello').removeClass('button-longrunning-active').addClass('icon yes icon-tick').text('{% trans "Icons loaded" %}').prop('disabled', true);
            $('button.icomoon').removeClass('button-longrunning-active').removeClass('icon yes icon-tick').html(original_icomoon).prop('disabled', false);

		})
		.fail(function() {
		    // Show error message and enable
            $('button.fontello').removeClass('button-longrunning-active').addClass('icon no icon-cross').text('Error: Try Again?').prop('disabled', false);

		});
		e.stopPropagation();
	});

    $('button.icomoon').on('click', function(e) {
        e.preventDefault();
        // Show processing message
        $(this).prop('disabled', true).addClass('button-longrunning-active');
        // Get the JSON file
		$.ajax({
			url: '{% static "fonts/icomoon.json" %}',
			type: 'GET',
			dataType: 'json'
		})
		.done(function(response) {
            $icomoonPrefix = response.preferences.fontPref.prefix;
            var icomoon_json_icons = [],
                icomoon_json_search = [];
            // For each icon
			$.each(response.icons, function(i, v) {

				// Set the source
				icomoon_json_icons.push( $icomoonPrefix + v.properties.name );

				// Create and set the search source
				if ( v.icon && v.icon.tags && v.icon.tags.length ) {
					icomoon_json_search.push( v.properties.name + ' ' + v.icon.tags.join(' ') );
				} else {
					icomoon_json_search.push( v.properties.name );
				}
			});
            menu_icon.setIcons(icomoon_json_icons, icomoon_json_search);
            // Show success message and disable
            $('button.icomoon').removeClass('button-longrunning-active').addClass('icon yes icon-tick').text('{% trans "Icons loaded" %}').prop('disabled', true);
            $('button.fontello').removeClass('button-longrunning-active').removeClass('icon yes icon-tick').html(original_fontello).prop('disabled', false);
		})
		.fail(function() {
		    // Show error message and enable
            $('button.icomoon').removeClass('button-longrunning-active').addClass('icon no icon-cross').text('Error: Try Again?').prop('disabled', false);
		});
		e.stopPropagation();
	});
    // autoselect font depending on input value
    // language=JQuery-CSS
    var iconEntered = $("input#id_menu_icon").val();
    if(iconEntered.indexOf($icomoonPrefix) !== -1){ $("button.icomoon").click();}
    if(iconEntered.indexOf($fontelloPrefix) !== -1){ $("button.fontello").click();}
});
</script>
{% endblock extra_js %}