{% load i18n wagtailcore_tags wagtailimages_tags block_tags %}
{% timestamp as id_prefix %}
{% image parallax_image original as the_image %}

<div id="{{ id_prefix }}" class="parallax {{ parallax_size }}">
<div id="{{ id_prefix }}-img" class="background parallax-image" style="background-image: url('{{ the_image.url }}'); background-size:cover;" data-img-width="{{ the_image.width }}" data-img-height="{{ the_image.height }}" data-diff="80" data-filter-color="{{ parallax_filter }}">
    <div class="content-a">
        <div class="content-b px-5 content-center">
              <div class="col mx-auto">
                {% with parallax_head|mysplit:"|" as parts %}
                <h1 class="display-3">{{ parts.0 }}<small class="subtitle">{{ parts.1 }}</small></h1>
                {% endwith %}
                {{ parallax_text|myrichtext }}
              </div>
        </div>
    </div>
</div>
</div>