.dropdown-menu {
  z-index: $zindex-dropdown;
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y 0;
  margin: $dropdown-spacer 0 0; // override default ul
  font-size: $font-size-base; // Redeclare because nesting can cause inheritance issues
  color: $body-color;
  background-color: $dropdown-bg;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($dropdown-border-radius);
  @include box-shadow($dropdown-box-shadow);
  @include opacity(1);
  // @include transform-origin($dropdown-coordinates);
  .dropdown-divider {
    border-top: 1px solid $dropdown-divider-bg;
  }
}

.dropdown-item{
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  clear: both;
  font-weight: $dropdown-font-weight;
  color: $dropdown-link-color;

  &:hover,
  &:focus {
    color: $dropdown-link-hover-color;
    @include gradient-bg($dropdown-link-hover-bg);
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color;
    @include gradient-bg($dropdown-link-active-bg);
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    @if $enable-gradients {
      background-image: none;
    }
  }
}

.dropdown-header {
  color: $dropdown-header-color;
  font-size: $font-size-sm;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
}

.dropdown-item-text {
  display: block;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  color: $dropdown-link-color;
}