.tooltip {
    font-size: $font-size-sm;
    font-weight: $font-weight-base;
    &.show { @include opacity(.95); }
}
.bs-tooltip-top {
    .arrow {
        &::before {
            border-top-color: $tooltip-arrow-color;
        }
    }
}
.bs-tooltip-right {
    .arrow {
        &::before {
            border-right-color: $tooltip-arrow-color;
        }
    }
}
.bs-tooltip-bottom {
    .arrow {
        &::before {
            border-bottom-color: $tooltip-arrow-color;
        }
    }
}
.bs-tooltip-left {
    .arrow {
        &::before {
            border-left-color: $tooltip-arrow-color;
        }
    }
}
.tooltip-inner {
    background-color: $tooltip-bg;
    border-radius: $border-radius;
    color: $tooltip-color;
    max-width: 200px;
    padding: 8px 8px;
    text-decoration: none;
    @include box-shadow($bmd-shadow-2dp);
}

.popover{
    border-radius: $border-radius;
    background-color: $white;
    color: #66615b;
    font-weight: 400;
    padding: 0;
    z-index: 1031;
/*    -webkit-box-shadow: none;
    box-shadow: none;*/
    @include box-shadow($bmd-shadow-2dp);
    text-align: center;
}
.popover-header{
    background-color: #FFFCF5;
    border-bottom: 0 none;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: 22px;
    padding: 15px 15px 0px 15px;
    margin: 0;
    color: #66615b;
    text-align: center;
    border-radius: $border-radius $border-radius 0 0;
    margin-bottom: -10px;
}
/*.popover-header{
    background-color: $white !important;
    text-align: center;
}*/
.popover-body{
    padding: 15px;
    text-align: center;
}
.popover .arrow{
    border: 0;
}
.popover.top .arrow{
    margin-left: 0;
}
/*.popover.bottom .arrow:after{
    border-bottom-color: $danger;
}*/
.popover-filter{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: $black;
    @include opacity(0);
    visibility: hidden;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}
.popover-filter.in{
     visibility:visible;
     @include opacity(0.2);
     transition-delay: 0s;
}
.popover.left > .arrow::after{
    border-left-color: lighten($danger, 6%) !important;
    bottom: -20px;
}
.popover.top > .arrow::after{
    border-top-color: lighten($danger, 6%) !important;
}
.popover.right > .arrow::after{
    border-right-color: lighten($danger, 6%) !important;
}

.popover.left::before{
    border-left-color: lighten($danger, 6%) !important;
    bottom: -20px;
}

.popover-filter.in{
     visibility:visible;
     @include opacity(0.2);
     transition-delay: 0s;
}

@each $color, $value in $theme-colors {
    .popover-#{$color} {
        @include popover-style(lighten($value, 6%) !important);
        &.bs-tether-element-attached-bottom::after,
        &.bs-tether-element-attached-bottom::before,
        &.popover-top::after,
        &.popover-top::before{
            border-top-color: lighten($value, 6%) !important;
        }
    }
}


.popover.bs-tether-element-attached-top::after, .popover.popover-bottom::after,
.popover.bs-tether-element-attached-top::before, .popover.popover-bottom::before{
    border-bottom-color: #fff !important;
}
