

@import url('https://fonts.googleapis.com/css?family=Grand+Hotel|Oswald|Life+Savers:400,700');
@import 'variables';
@import 'bootstrap/scss/core-bootstrap';
@import 'mixins';


small {
    display: block;
    font-family: 'Grand Hotel', cursive;
}
form small, form span {
    padding-left: 5px;
    font-family: $font-family-sans-serif;

}
// Core CSS
@import "misc";
@import "tests"; //buttons
@import "forms";
@import "checkbox-radio";
@import "filter";
//
//
//// components
@import "alert";
@import "dropdown";
@import "navbar";
@import "parallax";
@import "tooltips-and-popovers";
@import "pagination";
@import "cards";
@import "switch";
@import "progress";
@import "prism";
@import "responsive";


section:not(.wrapper){
  padding-top: map_get($spacers, 4) !important;
}
footer {
  padding-bottom:map_get($spacers, 3) !important;
}

.scrollToTop {
	display: block;
	position: fixed;
	z-index: 999;
	bottom: map_get($spacers, 1) !important;
	right: (map_get($spacers, 3) * 2) !important;
	padding: map_get($spacers, 1) !important;
  &:hover{
    text-decoration:none;
  }
}
/*
* ==========================================================================
//   Preloader
* ==========================================================================
*/
#preload {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: $white;
    z-index: 10000;
    @include opacity(.7);
    #preload-status {
      position: absolute;
      top: 40%;
  }
}

.blog_widget {
  .form-control, .form-control:hover, .form-control:focus, .input-group-text{
    background-color: $input-bg;
    @include box-shadow(none);
    border: transparent;
  }
}
//
// Blog side bar
//

/*
.blog_widget {
  border-radius: $card-border-radius;
  margin-bottom: 20px;
  padding: 1rem;
  border: $list-group-border-width solid $list-group-border-color;
  &.blog_widget_plain{
    border: $list-group-border-width transparent;
    margin-bottom: 0;

  }
  .form-control, .form-control:hover, .form-control:focus, .input-group-text{
    background-color: $input-bg;
    @include box-shadow(none);
    border: transparent;
  }
  .accordion {
    text-decoration: none;
    .card{
      margin: 0;
      display:block;
      box-shadow: none;
      border:none;
      .card-header{
        padding:0;
        .btn:hover,.btn:focus,btn:active,btn-link:hover{
          box-shadow: none;
          text-decoration: none;
        }
      }
      .card-body{
        padding:0;
      }
    }
    .card:not(:first-of-type):not(:last-of-type) {
      border-bottom: 0;
      border-radius: 0;
    }

    .card:not(:first-of-type) {
      .card-header:first-child {
        border-radius: 0;
      }
    }

    .card:first-of-type {
      border-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .card:last-of-type {
      margin: 0;
      box-shadow: none;
      display:block;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
*/


span > .fa-twitter {
  color: $social-twitter;
  &:active,&:focus{
    color: $social-twitter;
  }
}

span > .fa-facebook {
  color: $social-facebook;
  &:active,&:focus{
    color: $social-facebook;
  }
}


span > .fa-google-plus {
  color: $social-google;
  &:active,&:focus{
    color: $social-google;
  }
}
span > .fa-linkedin {
  color: $social-linkedin;
  &:active,&:focus{
    color: $social-linkedin;
  }
}

span > .fa-github {
  color: #333333;
  &:active,&:focus{
    color: #333333;
  }
}


/*.img-wrapper {
    margin-bottom: 1em;
    position: relative;

    img {
        display: block;
        width: 100%;
        margin-bottom:0;
    }

    &.left {
        float:left;
        width: 45%;
        margin-right: 5%;
    }
    &.right {
        float:right;
        width: 45%;
        margin-left: 5%;
    }
}*/



